body {
    font-family: Arial, sans-serif;
    background-color: #7a90a7;
    color: #fcfdff;
}

h1 {
    text-align: center;
    padding: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}

.container {
    max-width: 850px;
    margin: auto;
}

#contato-form {
    background-color: #a994ac;
    border-radius: 50px;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
} 

.btn {
    border-radius: 20px;
    padding: 10px 20px;
}

#adicionar-btn {
    background-color: rgb(85, 17, 161);
    border: none;
    color: #fff;
}

#salvar-btn {
    color: #000000;
}

#contatos-list {
    margin-top: 20px;
}

.contact-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    transition: all 0.3s ease;
}
.contact-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.contact-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-info {
    margin-bottom: 5px;
}

.contact-actions button {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.contact-item:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.edit-button, .delete-button {
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
    transition: all 0.3s ease;
}

.edit-button {
    background-color: #ffc107; 
    border-color: #ffc107; 
}

.delete-button {
    background-color: #dc3545;
    border-color: #dc3545; 
}

.edit-button:hover, .delete-button:hover {
    transform: translateY(-2px); 
}

.edit-button:disabled, .delete-button:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
}
